// Color Settings

@baseColor:     rgb(255,120,0);
@white:         rgb(255,255,255);
@darkGrey:      rgb(50,50,50);

// Grid

@gridWidth:     940px;
@inputPadding:  10px;

.container(@width: @gridWidth) {
  width: @width;
  margin: auto;
}

// Clearfix

.clearfix:after {
  content: ".";  
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
// für IE7
* + html .clearfix {
  display: inline-block;
}
// für IE6
* html .clearfix {
  height: 1%;
}

// Border-Radius

.border-radius(@radius: 4px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

// Box-Shadows

.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  box-shadow: @shadow;
}

// Text-Shadows

.text-shadow(@shadow: 1px 1px 1px rgba(0,0,0,.5)) {
  -webkit-text-shadow: @shadow;
  -moz-text-shadow: @shadow;
  text-shadow: @shadow;
}

// Gradients

#gradient {
  .horizontal (@startColor: white, @endColor: transparent) {
    background-color: @endColor;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, right top, from(@startColor), to(@endColor)); // Konqueror
    background-image: -moz-linear-gradient(left, @startColor, @endColor); // FF 3.6+
    background-image: -ms-linear-gradient(left, @startColor, @endColor); // IE10
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, @startColor), color-stop(100%, @endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(left, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(left, @startColor, @endColor); // Opera 11.10
    -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",@startColor,@endColor); // IE8+
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",@startColor,@endColor)); // IE6 & IE7
    background-image: linear-gradient(left, @startColor, @endColor); // Le standard
  }
  .vertical (@startColor: #eee, @endColor: #ccc) {
    background-color: @endColor;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(@startColor), to(@endColor)); // Konqueror
    background-image: -moz-linear-gradient(@startColor, @endColor); // FF 3.6+
    background-image: -ms-linear-gradient(@startColor, @endColor); // IE10
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @startColor), color-stop(100%, @endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(@startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(@startColor, @endColor); // Opera 11.10
    -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor); // IE8+
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); // IE6 & IE7
    background-image: linear-gradient(@startColor, @endColor); // The standard
  }
}

// CSS Reset

ul, ol, li, iframe, p, a {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  text-decoration: none;
}

// General Settings

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
::-webkit-input-placeholder {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a:link, a:visited, a:active {
  color: @baseColor;
}
a:hover {
  color: darken(@baseColor,10%);
}


a span {
  display: none;
}

.wrapper {
  width: @gridWidth;
  margin: auto;
}

// Buttons
// ---

button, .btn, .ui-button {
  padding: 10px;
  .border-radius;
  .box-shadow(inset 0 -2px 0 rgba(255,255,255,.5));
  border: 1px solid rgba(0,0,0,.2);
  #gradient > .vertical;
  &:hover {
    #gradient > .vertical(lighten(#eee, 4%),lighten(#ccc, 4%));
  }
  &:active {
    .box-shadow(inset 0 2px 0px rgba(0,0,0,.1));
  }
  &.primary {
    /* #gradient > .vertical(#dc6414,#f58b40); */
    #gradient > .vertical(@baseColor,darken(@baseColor, 5%);
    color: rgb(255,255,255);
    .text-shadow;
    &:hover {
      #gradient > .vertical(lighten(@baseColor, 5%),@baseColor, 5%);
    }
  }
  &.small {
    min-width: 100px;
    height: 30px;
    font-size: 10pt;
    line-height: 10pt;
    padding: 0 5px;
    .box-shadow(inset 0 -1px 0 rgba(255,255,255,.5));
    &:active {
      .box-shadow(inset 0 1px 0px rgba(0,0,0,.2));
    }
  }
  &.send {
    float: right;
  }
}

// Forms
// ---

// Input & Textarea

input[type=text], textarea {
  width: 580px - 2px - @inputPadding - @inputPadding;
  padding: @inputPadding;
  height: 30px;
  border: 1px solid rgba(0,0,0,.4);
  .border-radius;
  .box-shadow(inset 0 0 15px rgba(0,0,0,.15));
  font-size: 16pt;
  font-weight: 300;
  color: rgb(80,80,80);
  .text-shadow(1px 1px rgb(230,230,230));
  text-rendering: optimizeLegibility;
  &:hover {
    border: 1px solid #f58b40;
    .box-shadow(inset 0 0 15px rgba(0,0,0,.1));
  }
  &:focus {
    outline: none;
    background: white !important;
    border: 1px solid #f58b40 !important;
    .box-shadow(0px 0px 4px #f58c41);
  }
  &#identifier {
    font-family: 'Droid Sans Mono', sans-serif;
    width: 80px;
    height: 30px;
    font-size: 10pt;
    line-height: 10pt;
    padding: 0 5px;
    margin: 0 5px;
    .box-shadow(inset 0 0 5px rgba(0,0,0,.15));
  }
}
textarea {
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-box-orient: vertical;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  margin: 20px 0;
}

// Topbar 

header {
  height: 120px;
  background: @baseColor;
  border-top: 10px solid @darkGrey;
  border-bottom: 1px solid rgba(0,0,0,.2);
  font-size: 11pt;
  color: rgb(255,255,255);
  .text-shadow;
  vertical-align: bottom;
  #home {
    float: left;
    overflow: hidden;
    width: 136px;
    margin-right: 44px;
    background: url(../images/h1-logo.png);
    margin: 50px 40px 0 0;
    a {
      display: block;
      height: 55px;
      line-height: 999999pt;
    }
  }
  #stats {
      width: 400px;
      color: white;
      background: url(../images/analytics.png) left no-repeat;
      padding-left: 28px;
      line-height: 21px;
  }
  #url {
      float: right;
      letter-spacing: 1pt;
      margin-top: 67px;
  }
  dl {
      float: left;
      margin-top: 72px;
      border: 0;
      padding: 0;
      dt, dd {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        
      }
      dt {
        font-weight: bold;
        margin-right: 10px;
      }
      dd {
        margin-right: 10px;
      }
    }
}

// Section: Task Input
// ---

#interaction {
  padding: 20px 0;
  background: rgb(180,180,180) url(../images/noise-grey.png);
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(255,255,255,.5);
  #main {
    width: 580px;
    margin: auto;
    min-height: 50px;
  }
}

#description {
  &.active {
    z-index: 9;
    position: absolute;
    background: transparent;
    color: white;
    .text-shadow(1px 1px 1px rgba(0,0,0,.5));
    border: 0;
  }
  &[disabled] {
    color: white;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.2);
  }
}
#startstop {
  position: absolute;
  overflow: hidden;
  height: 13px;
  width: 76px;
  z-index: 10;
  margin: 9px 0 0 473px;
  /* background-image: url(http://clients.chrisgrabinski.com/rispen/images/startstop.jpg); */
  div {
    span {
      display: block;
      width: 75px;
      height: 25px;
      line-height: 13px;
      text-align: center;
      font-size: 10pt;
    }
  }
}
#summary {
  display: none;
  width: 580px;
  margin: auto;
  textarea {
    height: 120px;
  }
}
#continueProcess {
  width: 580px;
  margin: auto;
  padding-top: 20px;
  text-align: center;
  display: none;
}
#radio {
  float: left;
  .ui-button {
    .border-radius;
    border: 1px solid rgba(0,0,0,.2);
    margin-right: 5px;
    #gradient > .vertical;
    height: 30px;
    font-size: 10pt;
    line-height: 10pt;
    padding: 0 5px;
    .box-shadow(inset 0 -1px 0 rgba(255,255,255,.5));
  }
}
#progress {
  display: none;
}
.ui-progressbar {
  width: 578px;
  position: absolute;
  z-index: 8;
  height: 50px;
  .border-radius;
}
.ui-progressbar-value {
  #gradient > .vertical(@baseColor,darken(@baseColor, 5%));
  .box-shadow(0px 0px 8px lighten(@baseColor,10%));
  .border-radius;
}


// Section: History
// ---

#history {
  width: 100%;
    li {
      line-height: 48px;
      color: rgb(50,50,50);
      .text-shadow(1px 1px 1px rgb(255,255,255));
      background: rgb(230,230,230);
      vertical-align: middle;
      margin-bottom: 2px;
      div {
        .container;
        .timeago {
          float: right;
          line-height: 48px;
        }
        .hoverNavigation {
          float: left;
          overflow: hidden;
          .border-radius;
          #gradient > .vertical(#ccc,#eee);
          width: 0px;
          .box-shadow(inset 0 0 5px rgba(0,0,0,.5));
        }
        .expand {
          float: left;
          margin-right: 5px;
          font-size: 9pt;
          cursor: pointer;
        }
        .delete { 
          opacity: .5;
          float: right;
          margin-left: 10px;
          font-weight: bold;
          font-size: 24pt;
          cursor: pointer;
          &:hover {
            opacity: 1;
            color: rgb(230,35,35);
          }
        }
        .expandables {
          display: none;
          .summary {
            margin: 0;
            padding: 0;
            font-size: 11pt;
            line-height: 14pt;
            &:before {
              content: 'Summary:';
              margin-right: 10px;
            }
          }
          .rating {
            font-size: 11pt;
            line-height: 14pt;
            padding-bottom: 20px;
            &:before {
              content: 'Your Rating';
              margin-right: 10px;
            }
          }
        }
      }
      &:first-child {
        border-top: 1px solid rgba(0,0,0,.1);
      }
      &.running {
        background-image: url(../images/running-bg-animated.gif) !important;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        color: rgb(255,255,255) !important;
        .text-shadow(1px 1px 1px rgba(0,0,0,0.5));
        font-weight: bold;
        .delete, .expand {
          display: none;
        }
      }
      &.longBreak {
        border-top: 2px solid;
        border-bottom: 1px solid;
        border-color: rgba(0,0,0,.2);
        background: rgb(100,100,100);
        color: rgb(255,255,255);
        text-shadow: 1px 1px 1px rgba(0,0,0,.5);
      }
      &.shortBreak {
        background: darken(#ccc, 20%);
        color: rgb(255,255,255);
        font-size: 11pt;
        line-height: 20pt;
        text-shadow: 1px 1px 1px rgba(0,0,0,.5);
        .timeago {
          line-height: 20pt;
        }
      }
    }
}

// Section: Bottom Navigation
// ---

#bottomNavigation {
  background: @baseColor;
  border-top: 1px solid rgba(0,0,0,.2);
  border-bottom: 1px solid rgba(255,255,255,.4);
  ul {
    .container;
    li {
      padding: 10px 0;
      display: inline-block;
      font-size: 11pt;
    }
  }
}

// Section: About
// ---

#about {
  padding: 20px 0;
  background: @darkGrey;
  color: @white;
  border-top: 2px solid rgba(0,0,0,.2);
  .aboutContainer {
    .container;
    vertical-align: top;
    h2 {
      font-size: 18pt;
      .text-shadow;
      letter-spacing: -0.6pt;
      margin: 0 0 10px 0;
      padding: 0;
    }
    #information {
      float: left;
      margin: 0;
      width: 580px;
      font-size: 11pt;
      line-height: 16pt;
    }
    #twitter {
      width: 280px;
      float: right;
    }
    #social {
      clear: both;
    }
  }

  
}

// Section: Footer
// ---

footer {
  ul {
    .container;
    li {
      display: inline-block;
      font-size: 10pt;
      color: grey;
      line-height: 43px;
      vertical-align: middle;
      margin-right: 25px;
    }
    &:before {
      font-size: 10pt;
      color: grey;
      line-height: 43px;
      vertical-align: middle;
      width: 120px;
      
    }
  }
}
#fuel:before {
  display: block;
  float: left;
  width: 120px;
  font-weight: bold;
  content: 'Powered by';
}
#team:before {
  display: block;
  float: left;
  width: 120px;
  font-weight: bold;
  content: 'Team';
}