ul,
ol,
li,
iframe {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
::-webkit-input-placeholder {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
a span {
  display: none;
}
button, .btn {
  padding: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -2px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 -2px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 -2px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #cccccc;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  background-image: -moz-linear-gradient(#eeeeee, #cccccc);
  background-image: -ms-linear-gradient(#eeeeee, #cccccc);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#eeeeee, #cccccc);
  background-image: -o-linear-gradient(#eeeeee, #cccccc);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
  background-image: linear-gradient(#eeeeee, #cccccc);
}
button:hover, .btn:hover {
  background-color: #d6d6d6;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#f8f8f8), to(#d6d6d6));
  background-image: -moz-linear-gradient(#f8f8f8, #d6d6d6);
  background-image: -ms-linear-gradient(#f8f8f8, #d6d6d6);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #d6d6d6));
  background-image: -webkit-linear-gradient(#f8f8f8, #d6d6d6);
  background-image: -o-linear-gradient(#f8f8f8, #d6d6d6);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#d6d6d6', GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#d6d6d6', GradientType=0);
  background-image: linear-gradient(#f8f8f8, #d6d6d6);
}
button:active, .btn:active {
  -webkit-box-shadow: inset 0 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 0px rgba(0, 0, 0, 0.1);
}
button.primary, .btn.primary {
  /* #gradient > .vertical(#dc6414,#f58b40); */

  background-color: #e66c00;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff7800), to(#e66c00));
  background-image: -moz-linear-gradient(#ff7800, #e66c00);
  background-image: -ms-linear-gradient(#ff7800, #e66c00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7800), color-stop(100%, #e66c00));
  background-image: -webkit-linear-gradient(#ff7800, #e66c00);
  background-image: -o-linear-gradient(#ff7800, #e66c00);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7800', endColorstr='#e66c00', GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7800', endColorstr='#e66c00', GradientType=0);
  background-image: linear-gradient(#ff7800, #e66c00);
  color: #ffffff;
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
button.primary:hover, .btn.primary:hover {
  background-color: #ff7800;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff861a), to(#ff7800));
  background-image: -moz-linear-gradient(#ff861a, #ff7800);
  background-image: -ms-linear-gradient(#ff861a, #ff7800);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff861a), color-stop(100%, #ff7800));
  background-image: -webkit-linear-gradient(#ff861a, #ff7800);
  background-image: -o-linear-gradient(#ff861a, #ff7800);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff861a', endColorstr='#ff7800', GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff861a', endColorstr='#ff7800', GradientType=0);
  background-image: linear-gradient(#ff861a, #ff7800);
}
button.small, .btn.small {
  height: 30px;
  font-size: 10pt;
  line-height: 10pt;
  padding: 0 5px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5);
}
button.small:active, .btn.small:active {
  -webkit-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.2);
}
input[type=text], textarea {
  width: 918px;
  padding: 10px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.15);
  font-size: 16pt;
  font-weight: 300;
  color: #505050;
  -webkit-text-shadow: 1px 1px #e6e6e6;
  -moz-text-shadow: 1px 1px #e6e6e6;
  text-shadow: 1px 1px #e6e6e6;
  text-rendering: optimizeLegibility;
}
input[type=text]:hover, textarea:hover {
  border: 1px solid #f58b40;
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1);
}
input[type=text]:focus, textarea:focus {
  outline: none;
  background: white !important;
  border: 1px solid #f58b40 !important;
  -webkit-box-shadow: 0px 0px 4px #f58c41;
  -moz-box-shadow: 0px 0px 4px #f58c41;
  box-shadow: 0px 0px 4px #f58c41;
}
input[type=text]#identifier, textarea#identifier {
  font-family: 'Droid Sans Mono', sans-serif;
  width: 80px;
  height: 30px;
  font-size: 10pt;
  line-height: 10pt;
  padding: 0 5px;
  margin: 0 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
}
textarea {
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-box-orient: vertical;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
}
header {
  background: #ff7800;
  border-top: 10px solid #323232;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 11pt;
}
header ul {
  width: 940px;
  margin: auto;
  padding: 40px 0 20px 0;
  color: #ffffff;
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
header ul li {
  display: inline-block;
  height: 55px;
  vertical-align: middle;
}
header ul #home {
  overflow: hidden;
  width: 136px;
  margin-right: 44px;
  background: url(../images/h1-logo.png);
  margin: 0 40px 0 0;
}
header ul #home a {
  display: block;
  height: 55px;
  line-height: 999999pt;
}
header ul #stats {
  width: 400px;
}
header ul #stats:before {
  content: url(../images/analytics.png);
}
header ul #url {
  width: 310px;
  text-align: right;
}
header ul dl {
  display: inline;
  border: 0;
  padding: 0;
}
header ul dl dt, header ul dl dd {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
header ul dl dt {
  font-weight: bold;
  margin-right: 10px;
}
header ul dl dd {
  margin-right: 10px;
}
#url {
  float: right;
}
#interaction {
  padding: 20px 0;
  background: #fac882 url(../images/noise-grey.png);
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.5);
}
#interaction #main {
  width: 940px;
  margin: auto;
  min-height: 50px;
}
#description.active {
  z-index: 9;
  position: absolute;
  background: transparent;
  color: white;
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: 0;
}
#description[disabled] {
  color: white;
}
#startstop {
  position: absolute;
  width: 100px;
  z-index: 10;
  margin: 9px 0 0 833px;
  /* background-image: url(http://clients.chrisgrabinski.com/rispen/images/startstop.jpg); */

}
#startstop #timer {
  display: none;
}
#final {
  width: 940px;
  margin: auto;
  display: none;
}
#final textarea {
  width: 580px;
  height: 120px;
}
#radio {
  float: right;
  margin: 0;
}
#radio .ui-button {
  height: 70px;
  -webkit-box-shadow: inset 0 -2px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 -2px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 -2px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: #f0f0f0;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#d2d2d2), to(#f0f0f0));
  background-image: -moz-linear-gradient(#d2d2d2, #f0f0f0);
  background-image: -ms-linear-gradient(#d2d2d2, #f0f0f0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d2d2d2), color-stop(100%, #f0f0f0));
  background-image: -webkit-linear-gradient(#d2d2d2, #f0f0f0);
  background-image: -o-linear-gradient(#d2d2d2, #f0f0f0);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2d2d2', endColorstr='#f0f0f0', GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2d2d2', endColorstr='#f0f0f0', GradientType=0);
  background-image: linear-gradient(#d2d2d2, #f0f0f0);
}
#progress {
  display: none;
}
.ui-progressbar {
  width: 940px;
  overflow: hidden;
  position: absolute;
  z-index: 8;
  height: 48px;
  border: 1px solid #f58b40;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.ui-progressbar-value {
  background-color: #e66c00;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff7800), to(#e66c00));
  background-image: -moz-linear-gradient(#ff7800, #e66c00);
  background-image: -ms-linear-gradient(#ff7800, #e66c00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7800), color-stop(100%, #e66c00));
  background-image: -webkit-linear-gradient(#ff7800, #e66c00);
  background-image: -o-linear-gradient(#ff7800, #e66c00);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7800', endColorstr='#e66c00', GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7800', endColorstr='#e66c00', GradientType=0);
  background-image: linear-gradient(#ff7800, #e66c00);
  -webkit-box-shadow: 0px 0px 4px #ff861a;
  -moz-box-shadow: 0px 0px 4px #ff861a;
  box-shadow: 0px 0px 4px #ff861a;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#history {
  width: 100%;
}
#history li {
  line-height: 48px;
  color: #323232;
  -webkit-text-shadow: 1px 1px 1px #ffffff;
  -moz-text-shadow: 1px 1px 1px #ffffff;
  text-shadow: 1px 1px 1px #ffffff;
  background: #e6e6e6;
  vertical-align: middle;
  margin-bottom: 2px;
}
#history li div {
  width: 940px;
  margin: auto;
}
#history li div .timeago {
  float: right;
  line-height: 48px;
}
#history li div .hoverNavigation {
  float: left;
  overflow: hidden;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #eeeeee;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cccccc), to(#eeeeee));
  background-image: -moz-linear-gradient(#cccccc, #eeeeee);
  background-image: -ms-linear-gradient(#cccccc, #eeeeee);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#cccccc, #eeeeee);
  background-image: -o-linear-gradient(#cccccc, #eeeeee);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#eeeeee', GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#eeeeee', GradientType=0);
  background-image: linear-gradient(#cccccc, #eeeeee);
  width: 0px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}
#history li div .expand {
  float: left;
  background: url(../images/expand.png) no-repeat center;
  display: block;
  width: 16px;
  height: 10px;
  margin-top: 20px;
  margin-right: 5px;
}
#history li div .delete {
  float: right;
  margin-left: 10px;
  font-weight: bold;
  font-size: 24pt;
}
#history li div .summary {
  margin: 0;
  padding: 0;
  font-size: 11pt;
  line-height: 14pt;
}
#history li div .summary:before {
  content: 'Summary:';
  margin-right: 10px;
}
#history li div .rating {
  font-size: 11pt;
  line-height: 14pt;
  padding-bottom: 20px;
}
#history li div .rating:before {
  content: 'Your Rating';
  margin-right: 10px;
}
#history li:first-child {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
#history li.running {
  background-image: url(../images/running-bg-animated.gif) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #ffffff !important;
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
#history li.break {
  border-top: 2px solid;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  background: #646464;
  color: #c8c8c8;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#bottomNavigation {
  background: #ff7800;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#bottomNavigation ul {
  width: 940px;
  margin: auto;
}
#bottomNavigation ul li {
  padding: 10px 0;
  display: inline-block;
  font-size: 11pt;
}
#about {
  padding: 20px 0;
  background: #323232;
  color: #ffffff;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
}
#about .aboutContainer {
  width: 940px;
  margin: auto;
  vertical-align: top;
}
#about .aboutContainer h2 {
  font-size: 14pt;
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  letter-spacing: -0.6pt;
  margin: 0;
  padding: 0;
}
#about .aboutContainer #information {
  float: left;
  margin: 0;
  width: 580px;
  font-size: 11pt;
  line-height: 16pt;
}
#about .aboutContainer #twitter {
  width: 280px;
  float: right;
}
#about .aboutContainer #social {
  clear: both;
}
footer ul {
  width: 940px;
  margin: auto;
}
footer ul li {
  display: inline-block;
  font-size: 10pt;
  color: grey;
  line-height: 43px;
  vertical-align: middle;
  margin-right: 25px;
}
footer ul:before {
  font-size: 10pt;
  color: grey;
  line-height: 43px;
  vertical-align: middle;
  width: 120px;
}
#fuel:before {
  display: block;
  float: left;
  width: 120px;
  font-weight: bold;
  content: 'Powered by';
}
#team:before {
  display: block;
  float: left;
  width: 120px;
  font-weight: bold;
  content: 'Team';
}
