@charset "UTF-8";

/*
		This is the cascading stylesheet for Rispen.
		Sorry if it‘s to messed up to understand. :(
*/

/*
		GENERAL CSS

		Styling of standard HTML-tags and general CSS Reset
*/
body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	background: url(http://clients.chrisgrabinski.com/rispen/images/body-bg.jpg);
}

ul, h1, h2, h3 {
	margin: 0;
	padding: 0;
	list-style: none;
}
:focus {
	outline: 0;
}
.wrapper {
	width: 800px;
	margin: auto;
}

/*		
		HEADER aka dickbar

		The dickbar is only meant for general settings (i.e. short-URL, locking/unlocking, deleting) and quick analytics.
		I dare you filling it up with crap, Sir!
*/

header {
	height: 50px;
	width: 100%;
	font-family: 'Droid Sans Mono', sans-serif;
	color: rgb(255,255,255);
	font-size: 8pt;
	line-height: 50px;
	border-bottom: 2px solid rgb(0,0,0);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(5,20,45)),
		color-stop(1, rgb(30,50,80))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(5,20,45) 0%,
		rgb(30,50,80) 100%
	);
}
#top-navigation {
	width: 800px;
	margin: auto;
}
#top-navigation li {
	display: inline-block;
	vertical-align: middle;
}
#top-navigation li:last-child {
	float: right;
}
#identifier {
	width: 100px;
	height: 16px;
	margin: 0 10px 0 5px;
	padding: 5px;
	background: rgb(100,100,100);
	border: 1px solid rgb(20,20,20);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: inset 0 0 5px rgb(20,20,20);
	color: rgb(255,255,255);
}
#lock-unlock {
	width: 13px;
	height: 50px;
	overflow: hidden;
}
#lock-unlock-wrapper {
	width: 13px;
	height: 100px;
}
#lock-unlock button {
	width: 13px;
	height: 18px;
	margin: 16px 0;
	padding: 0;
	border: 0;
	cursor: pointer;
	color: transparent;
}
#lock {
	background-color: transparent;
	background-image: url(http://clients.chrisgrabinski.com/rispen/images/lock.png);
	background-repeat: no-repeat;
}
#unlock {
	background-color: transparent;
	background-image: url(http://clients.chrisgrabinski.com/rispen/images/unlock.png);
	background-repeat: no-repeat;
}

/*
		INTERACTION
		
		This is where all the magic happens. Operating tasks and stuff.
*/

#interaction {
	width: 100%;
	padding: 30px 0;
	background: rgb(250,240,210) url(http://clients.chrisgrabinski.com/rispen/images/interaction-bg.jpg) repeat-x;
	border-top: 2px solid rgb(240,240,240);
	border-bottom: 1px solid rgb(230,220,185);
	box-shadow: 4px 0 2px rgb(20,20,20);
}
#landing, #main {
	width: 800px;
	margin: auto;
}

/*	LANDING PAGE */

h1.logo {
	width: 301px;
	height: 120px;
	margin: 10px auto;
	background: url(http://clients.chrisgrabinski.com/rispen/images/rispen-logo.png);
	overflow: hidden;
}
h2.logo {
	display: none;
	width: 125px;
	height: 50px;
	margin: 0;
	padding: 0;
	float: left;
	background: url(http://clients.chrisgrabinski.com/rispen/images/rispen-logo-small.png);
	overflow: hidden;
}
.logo a {
	color: transparent;
	display: block;
	line-height: 999999px;
}
h2 {
	color: rgb(80,80,80);
	text-shadow: 1px 1px rgb(230,230,230);
	text-align: center;
	font-weight: 300;
	margin: 20px 0;
}

/* DISPATCHER */

#input {
	width: 100%;
	height: 45px;
}
#description {
	float: right;
	width: 695px;
	height: 35px;
	padding: 5px 95px 5px 10px;
	border: 1px solid rgb(230, 220,200);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	box-shadow: inset 0 0 15px rgb(240,240,240);
	font-size: 16pt;
	font-weight: 300;
	color: rgb(80,80,80);
	text-shadow: 1px 1px rgb(230,230,230);
}
#description::-webkit-input-placeholder {
	color: rgb(190,190,190);
	-webkit-font-smoothing: antialiased;
}
#description:focus {
	color: rgb(255,255,255);
	text-shadow: 1px 1px 1px rgb(200,110,40);
	outline: none;
	background: url(http://clients.chrisgrabinski.com/rispen/images/input-bg.png);
	border: 1px solid rgb(230,230,230);
	box-shadow: inset 0 0 16px rgb(200,15,0);
}
#description:focus::-webkit-input-placeholder {
	color: rgb(255,255,255);
	text-shadow: 1px 1px rgb(200,15,0);
}
#description:focus:-moz-placeholder {
  color: rgb(255,255,255);
	text-shadow: 1px 1px rgb(200,15,0);
}
#startstop {
	position: absolute;
	width: 85px;
	height: 35px;
	margin: 6px 0 0 709px;
	border: 1px solid rgb(190,90,60);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(245,245,245)),
		color-stop(1, rgb(200,200,200))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(245,245,245) 0%,
		rgb(200,200,200) 100%
	);
	box-shadow: inset 0 0 15px rgb(255,255,255);
}
#startstop:active {
	box-shadow: outset 0 -2px 1px rgb(200,110,40);
}
#stop {
	display: none;
}

/*
		HISTORY
		
		Self-explanatory.
*/

#history li {
	padding: 10px 0;
	line-height: 28px;
	text-shadow: 1px 1px 1px rgb(255,255,255);
	background: rgb(230,230,230);
}
#history li:nth-child(even) {
	background: rgb(245,245,245);
}
#history li:first-child {
	border-top: 1px solid rgb(240,240,240);
}
#history li div {

}
#history li p {
  width: 800px;
  margin: auto;
  color: rgb(25,45,80);
}
.timeago {
  float: right;
	color: rgb(140,140,140);
}

