/*		
		GENERAL CSS

		Styling of standard HTML-tags and general CSS Reset
*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	background: url(http://clients.chrisgrabinski.com/rispen/images/body-bg.jpg);
}

ul, h1, h2, h3 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.wrapper {
	width: 800px;
	margin: auto;
}


/*		
		HEADER aka dickbar

		This section describes the contents of the header-bar.
		It‘‚ only meant for important settings like short-url, lock/unlock and deletion of the Pomodoro
*/

header {
	width: 100%;
	height: 50px;
	background: rgb(80,80,80);
	line-height: 50px;
	font-size: 10pt;
	border-bottom: 2px solid rgb(60,60,60);
}
header ul {
	height: 50px;
	color: #FFFFFF;
}
header ul li {
	float: left;
	margin-right: 20px;
}
header ul li:last-child {
	float: right;
	margin-right: 0;
}

#chiffre {
	height: 25px;
	margin: 0 5px;
	padding: 3px 5px;
	background: rgb(60,60,60);
	box-shadow: inset 0 0 8px rgb(75,75,75);
	border: 1px solid rgb(55,55,55);
	border-radius: 4px;
	color: rgb(255,255,255);
	font-family: 'Droid Sans Mono', sans-serif;
}
#chiffre:focus {
	outline: none;
}

/*
		INTERACTION
		
		This part describes all the content, the user interacts with handle new tasks.
*/

#interaction {
	padding: 20px 0;
	background: url(http://clients.chrisgrabinski.com/rispen/images/header-bg.jpg) repeat-x top;
	box-shadow: 0 2px 1px rgb(150,150,150);
	border-top: 1px solid rgb(255,255,255);
	border-bottom: 1px solid rgb(220,220,220);
}

h1.logo {
	width: 301px;
	height: 120px;
	margin: 20px auto 10px auto;
	background: url(http://clients.chrisgrabinski.com/rispen/images/rispen-logo.png);
	overflow: hidden;
}
.logo a {
	line-height: 9999px;
	display: block;
}
h2.claim {
	color: rgb(80,80,80);
	text-shadow: 1px 1px rgb(230,230,230);
	text-align: center;
	font-weight: 300;
	margin: 20px 0;
}

#task-wrapper {
	width: 800px;
	margin: auto;
	text-align: center;
}

h2.logo {
	width: 0;
	height: 50px;
	margin: 0;
	float: left;
	background: url(http://clients.chrisgrabinski.com/rispen/images/rispen-logo-small.png);
	overflow: hidden;
	margin-left: 125px;
}

#description {
	height: 30px;
	width: 450px;
	padding: 10px;
	margin: 0;
	margin-left: -125px;
	font-size: 18pt;
	font-weight: 300;
	color: rgb(80,80,80);
	text-shadow: 1px 1px rgb(230,230,230);
	border: 1px solid rgb(250,250,250);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	box-shadow: inset 0 0 16px rgb(220,220,220);
	
	-webkit-transition: all 0.4s ;
	-moz-transition: all 0.4s ;
	-o-transition: all 0.4s ;
	transition: all 0.4s ;
}
#description:focus {
	color: rgb(255,255,255);
	text-shadow: 1px 1px rgb(200,15,0);
	outline: none;
	background: url(http://clients.chrisgrabinski.com/rispen/images/input-bg.png);
	border: 1px dotted rgb(230,230,230);
	box-shadow: inset 0 0 16px rgb(200,15,0);
	
	-webkit-transition: all 0.2s ;
	-moz-transition: all 0.2s ;
	-o-transition: all 0.2s ;
	transition: all 0.2s ;
}
#description[disabled] {
	position: absolute;
	background: transparent;
	box-shadow: none;
	border: none;
}

.inactive {
	display: none;
}
.active {
	display: block;
}

#after-task {
	width: 336px;
	margin: auto;
	display: none;
}
#after-task li {
	float: left;
	width: 64px;
	height: 64px;
	margin: 10px;
	overflow: hidden;
	background: grey;
}

/*
		HISTORY
		
		Self-explanatory.
*/

#history li {
	padding: 10px 0;
	line-height: 28px;
	text-shadow: 1px 1px 1px rgb(255,255,255);
	background: rgba(255,255,255,0.8);
}
#history li:nth-child(even) {
	background: rgba(245,245,245,0.8);
}
#history li p {
	width: 800px;
	margin: auto;
}
#history li span {
	float: right;
}